.inputLogin {
    border-radius: 15px;
    width: 90%;
  }
  
  
  .icono {
    width: 25%;
    // height: 50px; 
    margin-bottom: 0px;
  }
  
  .buton {
    --border-radius: 40px;
  }
  
  .iconLogin {
    width: 50px;
  }