<div *ngIf="showSplash" class="splash">

  <div style="text-align: center; padding-top: 40%;">
    <img src="./../assets/icon/icon.png" alt="icon" style="width: 25%;">
    <br>
    <br><br>
    <div class="splash2">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>

  </div>
  <div style="padding-top: 60%; text-align: center; color: white;">
    <p>From</p>
    <h3><b>Lone Wolf</b></h3>
  </div>

</div>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>