<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(250, 0, 0); color: white">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 25px;">
      Notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Sensor de calidad del aire</ion-label>
      <ion-button slot="end" color="danger">
        <ion-icon name="trash-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      La calidad del aire a cambiado bruscamente, revisalo
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="alert" slot="start"></ion-icon>
      <ion-label>Sensor de calidad del aire</ion-label>
      <ion-button slot="end" color="danger">
        <ion-icon name="trash-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      La calidad del aire a cambiado bruscamente, revisalo
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Sensor de calidad del aire</ion-label>
      <ion-button slot="end" color="danger">
        <ion-icon name="trash-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      La calidad del aire a cambiado bruscamente, revisalo
    </ion-card-content>
  </ion-card>
</ion-content>